* {
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
    display: flex;
    background-color: #cddcf8;
  }
  .Le{
    margin-top: 12px;
    margin-left: 2vh;
    background: rgb(2, 0, 15);
    height: 97vh;
    width: 40%;
    color: azure;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
  }
  .ldm {
    display: flex;
  }
  .esquerdo{
    margin-top: 250px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
p {
    color: white;
    font-size:50px;
    margin-top: 3%;
    margin-left: 30px;
  
  }
 p2,p3 {
    font-size:30px ;
    color: white;
  }

.Leb{
  display: flex
}
 .ldm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:200%;
    margin-top: 30vh;
 }
 p3 {
    color: rgb(253, 253, 253);
 }
 h2 {
    margin-top: 12px;
    color: white;
    margin-right: 3%;
    margin-left: 19%;
 }
 
.foot {
  margin-right: 90px;
  margin-left: 200px;
  margin-top: 90px;
  background-color: rgb(8, 8, 8);
  display: flex;

}

.ma {
    font-size: 2vh;
    margin-left:  50vh;
}
.me {
    font-size: 2vh;
    color: rgb(63, 41, 185);
    margin-top: 66vh;
    margin-left: 53vh;
}